@font-face {
    font-family: FireMono;
    src:  url("FiraMono-Regular.ttf")  format("truetype");
}

html, body {
  position: relative;
  height: 100%;
}

button {
  padding: 0.7em;
  font-size: 1.25em;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.editor {
  flex-grow: 0.35;
  display: flex;
  flex-direction: column;
}

.editor-textarea {
  height: 100%;
  padding: 8px;
  font-size: 1.25em;
  font-family: FiraMono, sans-serif;
}

.viz {
  display: flex;
  flex-grow: 0.6;
  padding: 16px;
}

.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-img-container {
  height: 100%;
  display: flex;
}

.carousel-img {
  width: 90%;
  display: inline-block;
}

.carousel-control {
  display: flex;
  justify-content: center;
}

.arrow-right {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.5em;
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid black;
}
